.block_reviews {
    background-color: #3E3E3D;
    width: 1920px;
    height: 758px;
    margin-top: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_reviews button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c4c4c4;
    width: 34px;
    height: 34px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
}

.block_reviews button:hover {
    cursor: pointer;
    background: #dc911b;
}

.block_reviews p {
    font-family: var(--Roboto-sans);
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    margin-right: 24px;
    margin-top: 55px;
    cursor: pointer;
    z-index: 1;
    transform: scale(1);
    transition: 0.7s;
}

.block_reviews p:hover {
    transform: scale(1.1);
}

.block_reviews h2 {
    font-family: var(--Roboto-sans);
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    margin-left: auto;
    margin-right: 180px;
    margin-bottom: 106px;
    z-index: 1;
}

.block_reviews_row {
    display: flex;
    flex-wrap: wrap;
    width: 820px;
    margin-left: auto;
    margin-right: 824px;
}

/*slider*/
.block_reviews_slider {
    position: relative;
    width: 900px;
    overflow: hidden;
}

.block_reviews_slides {
    display: flex;
    transition: transform 0.5s ease;
}

.block_reviews_slide {
    flex: 0 0 290px;
}

.block_reviews_slide_buttons {
    display: flex;
    transition: 0.6s ease;
    width: 68px;
    height: 34px;
    margin-top: 50px;
}

.block_reviews_slide_buttons_and_text {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    width: 420px;
    margin-right: 24px;
}

.block_reviews_prev,
.block_reviews_next {
    cursor: pointer;
    z-index: 2;
}

.block_reviews_prev {
    left: 0;
}

.block_reviews_next {
    right: 0;
}

.rating_people {
    position: absolute;
    margin-bottom: 125px;
    margin-left: 700px;
    z-index: 0;
}